@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat+Alternates:wght@300;400&family=PT+Sans&family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-transform: capitalize;
}

html {
    font-size: 62.5%; /* it means now 1rem = 10px*/
}

.hero-text {
    text-transform: capitalize;
}

.navbar a {
    color: grey;
    transition: all 0.2s ease-in;
}

.navbar a:hover {
    color: crimson;
}

#right-rocket-img, #houseimg {
    width: 30vw;
    animation: floating 2s ease-in-out;
}

.main-logo {
    font-size: 3rem;
    font-weight: bold;
}

.navbar {
    font-size: 2rem;
}

.main-heading {
    font-size: 5rem;
    font-weight: bold;
}

.sub-heading {
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
}

.sub-text {
    font-size: 2rem;
    font-family: 'Montserrat+Alternates', sans-serif;
}

.about-text {
    font-size: 1.7rem;
}

.sub-text span {
    color: crimson;
}

#nav-btn:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    width: 3rem;
    height: auto;
}


footer {
    font-size: 1.2rem;
}

@keyframes floating {
    0% {
        margin-top: 3rem;
    }
    25% {
        margin: 0;
    }
    50% {
        margin-top: 1rem;
    }
    100% {
        margin: 0;
    }
}

.hero-btn {
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    background-color: indianred;
    transition: all 1s ease-in-out;
    font-weight: bold;
}

.hero-btn:hover {
    color: #d53369;
    background-color: white;
    box-shadow: 0 0 2px 2px grey;
}

.ourservices {
    margin-top: 1.8rem;
}

.ourservice-text {
    font-size: 1.5rem;
}

.box {
    position: relative;
    height: 15rem;
    background-color: white;
    box-shadow: 0px 0px 15px 4px rgba(68, 63, 63, 0.30);
    border-radius: 8px;
}

.box-1:hover {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

}

.box-2:hover {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.box-3:hover {
    background: linear-gradient(90deg, #ceaefa 0%, #515ada 100%);
}

.box-4:hover {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.box-5:hover {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.box-6:hover {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.box-1::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/settings.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.box-2::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/speed.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.box-3::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/privacy.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.box-4::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/backup.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.box-5::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/ssl.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.box-6::before {
    content: "";
    position: absolute;
    width: 13rem;
    height: 12rem;
    top: -50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: url("../images/services/database.png");
    background-size: cover;
    bottom: 100%;
    z-index: 999;
}

.footer {
    background-color: #E4E2FF;
    padding: 1rem;
}

/*media queries*/
@media (max-width: 1080px) {
    .main-heading {
        font-size: 4rem;
    }

    .sub-heading {
        font-size: 3rem;
    }
}

@media (max-width: 990px) {
    .navbar {
        /*background-color: slategrey;*/
    }
}

@media (max-width: 820px) {
    .main-heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2.4rem;
    }
}

@media (max-width: 750px) {
    .main-heading {
        font-size: 4rem;
    }

    .sub-heading {
        font-size: 3rem;
    }

    #right-rocket-img, #houseimg {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #houseimg {
        padding: 2rem;
    }
}

@media (max-width: 450px) {
    .main-heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2.5rem;
    }

    .sub-text {
        font-size: 1.7rem;
    }

    .hero-btn {
        padding: 0.5rem 1rem;
    }

    .left-hero figure {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #houseimg {
        width: 60vw;
    }

    .housefigure {
        display: flex;
        justify-content: center;
    }

    #right-rocket-img {
        width: 60vw;
    }
}

.profession:after {
    content: "";
    animation: profession 10s infinite linear;
}

@keyframes profession {
    0% {
        content: 'professional developer';
    }
    25% {
        content: 'Web Developer';
    }
    50% {
        content: 'Andoid Developer';
    }
    75% {
        content: 'Ios Developer';
    }
    100% {
        content: 'Editor';
    }
}